@tailwind base;
@tailwind components;
@tailwind utilities;

header {
    padding:0 !important ;
    background-color: #2d2a30;
    font-size: 18px;
    position: fixed;
    width: 100vw;
    z-index: 10;
    
}
nav {
    display: block;
}
.header {
    display: flex;
    align-items: center;
}

.more-button-container{
    display: none;
}

/* LOGO PART */
.logo-container {
    display: block;
    flex: 4;
}

.logo {
    height: 3.5em;
    width: auto;
}

/*NAVBAR PART*/
.nav-bar-container {
    margin: auto;
    flex: 4;
    height: 100%;
    /* background-color: bisque; */
}
.nav-bar {
    display: flex;
    justify-content: center;
}
.nav-item {
    cursor: pointer;

    color: white;
    text-align: center;
    margin: auto auto;
    width: 20%;
}

/* CONTACT PART */
.contact-container {
    flex: 3;
}
.contact {
    cursor: pointer;
    text-align: center;
    background-color: rgb(1, 191, 98);
    background-color: rgb(255, 215, 18);
    display: block;
    width: auto;
    max-width: 110px;
    border-radius: 0.5em;
    padding: 5px 16px;
    margin: auto auto;
}
/* DROPDOWN PART */
.dropdown {
    display: none;
}
@media only screen and (max-width: 600px) and (min-width: 520px) {
    .header {
        font-size: 0.8em;
    }
    .contact {
        max-width: 80px;
    }
}
@media only screen and (min-width: 430px) and (max-width: 519px) {
    .logo img {
        height: 2.8em;
        width: auto;
    }
    .header {
        font-size: 0.6em;
    }
    .contact {
        max-width: 80px;
    }
}
@media only screen and (max-width: 429px) {
    .nav-bar-container,
    .contact-container {
        display: none;
        flex: 0;
    }
    .logo-container {
        flex: 6;
    }
    .logo img {
        height: 2.8em;
        width: auto;
    }
    .dropdown {
        display: block;
        flex: 4;
    }

    .more-button-container {
        flex: 4;
        display: block;
    }
    .more-icon{
        height: 2em;
        margin: auto;
        width: auto;
    }
    .more-button {
        width: 45%;
        margin: auto 10px auto auto !important;
        display: block;
        background-color: #b3b1b1 !important;

    }
}
